body {
  background-color: #497e42;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
h1 {
  color: white;
  text-align: center;
}
h2, h3 {
  color: rgb(1, 43, 1);
}
strong {
  text-decoration: underline;
  color: white;   
}
span {
  font-size: 20px;
}
.hard{
  font-size: 20px;
              
}
a {
  text-decoration: none;
  color: white;
}
.image-conteiner {
  height: 420px;
  position:relative;
}
.foto {
  float: left;
  padding: 10px;
  background-color: white;

}
.text-conteiner {
  position: absolute; 
  width: 500px; 
  top: 100px;
  left: 330px;
  right: 10px;
}
li {
  width: 280px;
}
ul li:nth-child(odd) {
  background-color: rgb(168, 199, 106);
}